<% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this obj from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<%= render 'left', book: @book, user: @user %>

  <div class="col-md-8 offset-md-1">
    <p><h1>Books</h1></p>
    
    <table class="table">
      <tbody>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        
        <% @books.each do |book| %>
        <tr>
          <td><%= link_to user_path(book.user.id) do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
              <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>