<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        
        <p><h2>User info</h2></p>
        
        <table class="table">
          <tbody>
            <tr>
              <p><%= image_tag @user.get_profile_image(100,100) %></p>
              <th>name</th>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @user.introduction %></th>
            </tr>
          </tbody>
        </table>
        
        <%= link_to edit_user_path(@user), class:'btn btn-light btn-outline-secondary btn-block' do %>
          <i class="fa-solid fa-user-cog"></i>
        <% end %>

        <p><h1>New book</h1></p>
        <%= form_with model: @booknew do |f| %>
        <p>Title</p>
        <%= f.text_field :title %>
  
        <p>Opinion</p>
        <%=f.text_area :body %>
        <br>
        <%= f.submit 'Create Book', class: "btn btn-success" %>
        
      <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
      <% @book.user %>
        <tr>
          <td><%= link_to user_path(book.user.id) do %></td>
                <%= image_tag book.user.get_profile_image(100,100) %>
              <% end %>
            <td><%=@book.title%></td>
            <td><%=@book.body%></td>
        </tr>
      
    </table>
  </div>
</main>

